section{
    width: 100%;
}

  
.happen-container{
    width: 100%;
    height: 100%;
    /* bottom: 20%; */
    /* z-index: 1; */
    padding-top: 198px; /* Adjust for spacing */
    background-image: url('../../Assets/Line2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 200px left;
    
}



.happen-row{
    width: 100%;
    height: 100%;
   display: flex;
   padding-top: 198px;
   justify-content: center;

   /* align-items: center; */

}

.happen{
    animation: SlideInLeft 0.5s ease-in;
}

@keyframes SlideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.happen span{
font-family: Montserrat;
font-size: 30px;
font-weight: 700;
line-height: 37.5px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--Primary-Primary800, #5C00B3);


}

.happen h2{
font-family: Montserrat;
font-size: 55px;
font-weight: 700;
line-height: 68.75px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.happen p{
font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.happen-btn{
    padding: 45px 0;
}

.happen-btn button{
    width: 232.52px;
    height: 70px;
padding: 15px 30px 15px 30px;
gap: 11px;
border-radius: 10px;
border: 2px solid var(--Primary-Primary600, #9524FF);
background: var(--Primary-Primary600, #9524FF);
color: #FFFFFF;


}

.happen-btn button img{
    width: 6.86px;
height: 13.72px;
gap: 0px;
border: 1.5px ;


}

.founders {
    width: 100%;
    height: 100%;
}

.founders img{
    /* width: 533px;
height: 678px; */
width: 100%;

}

.form-content-container{
    width: 100%;
    height: 100%;
    padding-top: 170px;
}

.form-content-container span{
font-family: Montserrat;
font-size: 30px;
font-weight: 700;
line-height: 37.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #5C00B3;

}
.form-content-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: SlideInRight 0.5s ease-in;
}

@keyframes SlideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



.form-content-row h2{
font-family: Montserrat;
font-size: 55px;
font-weight: 700;
line-height: 68.75px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.rounded-col{
    padding-top: 68px;
}

.rounded-text div{
    width: 250px;
    height: 250px;
padding: 5px;
border-radius: 50%;
border: 2px solid #A649FF;

margin-bottom: 20px;


}

.dark-purple{
    background: #DCB6FF;
    display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: center;
gap: 11px;
padding: 11px 9.5px 0 9.5px;

text-align: center;


}
.light-purple{
    padding: 11px 9.5px 0 9.5px;

text-align: center;
    background: #EDDBFF;
    display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: center;
gap: 11px;

}

.light-purple h4{
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 28.8px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}



.dark-purple h4{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

.light-purple p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    }

.dark-purple p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    }

    .form-col{
        display: flex;
        flex-direction: column;
        padding-top: 68px;
        /* justify-content: center; */
    }

    .form-col h4{
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 700;
        line-height: 33.6px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        
    }
    .form-header{
        padding-bottom: 33.5px;
    }

    .form-col span{
        font-family: Montserrat;
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        line-height: 28.8px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #605668;
        
        
    }

    .form-col p{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-top: 11px;
        
        color: #2C2830;
        
        
    }

    

    .form-container {
        width: 100%;
        max-width: 600px; /* Adjust as needed */
        margin: 0 auto; /* Center the container */
    }
    

    .form{
        width: 100%;
    }

    .form label{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.6px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    

    .form input{
        width: 309px;
        /* width: 100%; */
        max-width: 309px;
        height: 63px;
        padding: 25px 22px 25px 22px;
        gap: 10px;
        border-radius: var(--Radiusm);
        border: 1px solid #121212;
        outline: 0;
        margin-bottom: 29px;
        box-sizing: border-box;

    }

    .form input::placeholder{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #00000080 50%;

    }

    .form-container button{
        width: 235px;
        height: 70px;
        padding: 15px 30px 15px 30px;
        gap: 11px;
        border-radius: 10px;
        border: 2px solid var(--Primary-Primary600, #9524FF);
        color: #FFFFFF;
        background: var(--Primary-Primary600, #9524FF);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 28.8px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        



    }

    .form-container button img{
        width: 23.52px;
        height: 23.52px;
      

    }

    .kaduna-container{
        width: 100%;
        height: 100%;
        margin-top: 180px;
        background-image: url('../../Assets/bg_kd.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kaduna-row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kd-text{
        animation: SlideInLeft 0.5s ease-in;
    }

    @keyframes SlideInLeft {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .kd-text span{
        color: #EBE9ED;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 62.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .kd-text h2{
        color: #5C00B3;
        font-size: 50px;
        font-weight: 700;
        line-height: 62.5px;
    }

    .kd-text p{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #EBE9ED;

    }

    .kd-text button{
        color: #A649FF;
        width: 289px;
        height: 75px;
        background: transparent;
        padding: 20px 70px 20px 70px;
        gap: 10px;
        border-radius: 40px;
        border: 2px solid #A649FF;


    }
    .kd-text button img{
        width: 35px;
        height: 35px;
        padding: 7.65px 2.19px 7.65px 2.19px;
    }

    .kd-logo{
        width: 100%;
        height: 100%;
    }

    .kd-logo img{
        width: 100%;
    }

    /* styles for rounded images on a line */

    .rounded-image-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 198px;

    }


    .rounded-image-row{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: SlideInLeft 0.5s ease-in;
    }

    @keyframes SlideInLeft {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .rounded-image-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rounded-image-col h3{
        font-family: Montserrat;
        font-size: 45px;
        font-weight: 700;
        line-height: 56.25px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;


    }
    .rounded-image-col p{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-top: 50px;


    }

    .rounded-image-col button{
        width: 352px;
        height: 75px;
        padding: 20px 70px 20px 70px;
        gap: 10px;
        border-radius: 40px;
        border: 3px solid #A649FF;
        background: transparent;
        color: #A649FF;

    }

    .rounded-image-col button img{
        width: 30.63px;
        height: 19.69px;
      

    }


    .image-bg{
        width: 100%;
        height: 100%;
        padding-bottom: 80px;
        background-image: url('../../Assets/Vector\ 2.svg');
        background-repeat: no-repeat;
        background-size: contain;
        /* background-position: bottom 60px left; */
        background-position: top 20px left;
    }

    .image-bg img{
        width: 100%;
        height: 100%;
    }

   

     /* styles for fridaysection */

     .f-container{
        width: 100%;
        height: 100%;
        padding-top: 180px;
     }

    .f-row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .f-image{
        width: 100%;
        height: 100%;
    }

    .f-image img{
        width: 100%;
        /* height: 564px; */
        border-radius: 20px;

    }


    .f-friday-text p{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .f-friday-text span{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.6px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-top: 43px;

    }

    .f-btn{
        padding-top: 43px;
    }

    .f-friday-text button{
        width: Hug (289px)px;
        height: Hug (75px)px;
        padding: 20px 70px 20px 70px;
        gap: 10px;
        border-radius: 40px;
        background: #A649FF;
        color: #FDF7FF;
        border: 0;


    }

    .f-friday-text button img{
        width: 35px;
        height: 35px;
        padding: 7.65px 2.19px 7.65px 2.19px;
       


    }

    /* Styles for slide section */
    .slides-container{
        width: 100%;
        height: 100%;
        padding-top: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slides-row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide-row-content{
        padding-bottom: 80px;
    }

    .slides-row h3{
        font-family: Montserrat;
        font-size: 45px;
        font-weight: 700;
        line-height: 56.25px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .slides-row span{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #8E8E93;

    }

    .slides-row .arrow{
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
    }

    .arrow img{
        width: Fixed (97.92px)px;
        height: Fixed (97.92px)px;
        padding: 0px 30.52px 0px 30.52px;
        gap: 18.31px;
 

    }

    
    
    .slide-img{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: SlideInLeft 0.5s ease-in;
    }

    @keyframes SlideInLeft {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .slide-img img{
        width: 195.84px;
        height: 195.84px;
        
       

    }
    .slide-img-text{
        padding-top: 28px;
    }

    .slide-img-text h5{
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 37.5px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .slide-img-text p{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }


    /* Styles for FAQs */

    .faq-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 180px;
    }

    .faq-row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .faq-row h4{
        font-family: Montserrat;
        font-size: 45px;
        font-weight: 700;
        line-height: 56.25px;
        text-underline-position: from-font;

    }

    .faqs{
        padding: 78.46px 0 149px 0;
       
    }

    .faqs p{
        gap: 12px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #340066;

    }

    .faqs p img{
        width: 17.34px;
        height: 8.6px;
        

    }

@media(min-width: 719px){

}


@media(max-width:576px){

    .happen-container{
        background-position: top 100% left;
    }

    
        .rounded-text div {
            width: 500px;
            max-width: 100%;
            /* width: 350px;  */
            height: 250px; /* Adjust height */
            padding: 5px;
            border-radius: 10px; /* Ensures it remains circular */
        }

        
    

        
    
    

    .form{
        display: flex;
        flex-wrap: wrap;
    }

    .form input{
        width: 309px;
        max-width: 100%;
    }
    .rounded-image-col p{
       
        text-align: start;

    }

    .rounded-image-col button{
        width: 312px;
        height: 75px;


    }
    .image-bg{
        width: 100%;
        height: 100%;
        padding-bottom: 80px;
        background-image: url('../../Assets/Vector\ 2.svg');
        background-repeat: no-repeat;
        background-size: contain;
        /* background-position: bottom 60px left; */
        background-position: top 10px left;
    }

}